/* body{
    background-color:  #00B4D8;
} */

.cuerpo{
    display: grid;
    padding: 80px;
    
}

#section1{
    display: flex;
    grid-template-columns: repeat(2, minmax(120px , 1fr));
    background-color: #90E0EF;
    text-align: center;
    border-radius: 40px;
    margin: 20px;
    
}

#section2{
    display: flex;
    grid-template-columns: repeat(2, minmax(120px , 1fr));
    background-color:  #90E0EF;
    text-align: center;
    border-radius: 40px;
    margin: 20px;
    
}

#section3{
    display: flex;
    grid-template-columns: repeat(2, minmax(120px , 1fr));
    background-color:  #90E0EF;
    text-align: center;
    border-radius: 40px;
    margin: 20px;
    
}

#img1 img{
    border-radius: 100%;
}
#img2 img{
    border-radius: 100%;
}

.calendario-contenedor {
    background-color:  #90E0EF;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(120px , 1fr));
    background-color:  #90E0EF;
    padding: 20px;
    text-align: center;
    border-radius: 40px;
     margin: 20px;
}

.calendario img {
    border: 10px;
    border-radius: 100%;
}

.info{
    background-color:  #90E0EF;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(120px , 1fr));
    background-color:  #90E0EF;
    text-align: center;
    border-radius: 40px;
    margin: 20px;
    
}

.bloque {
    display: flex;
    align-items: center;
    border-radius: 40px;
    grid-template-columns: repeat(2, minmax(120px , 1fr));
} 

.bloque img {
    border-radius: 100%;
    border: 10px;
}

.info-2{
    background-color: #0077B6;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(120px , 1fr));
    background-color:  #90E0EF;
    text-align: center;
    border-radius: 40px;
    margin: 20px;
}


.reverse {
    flex-direction: row-reverse;
    border-radius: 40px;
}

.texto {
    grid-template-columns: repeat(2, minmax(120px , 1fr));
}




*{
    margin: 0;
}
/* Paleta de colores Ocean Breeze
    #03045E
    #0077B6
    #00B4D8
    #90E0EF
    #CAF0F8
*/
/* Estilos para la navegacion
Se utilizo la propiedad grid para ajustar el posicionamiento*/

.navegacion ul{
    padding: 0;
     height: auto;
     background-color: #0077B6;
     display: grid;
     grid-template-columns: repeat(6, maxmin(120px, 1fr));
     justify-items: center;
     grid-auto-flow: column;
     align-items: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

     .navegacion ul li{
        list-style-type: none;
    }

    .navegacion ul li a{
        margin-top: 20px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        transition: all 0.5s;
    }
   
    .navegacion ul li a:hover{
        color: #90E0EF;
        font-size: 23px;
    }

    .navegacion ul li img{
        width: 100px;
}

.bienvenida{
    position: relative;
    width: 100%;
    display: flex;
    }

    .bienvenida-img{
        position: absolute;
        width: 100%;
        background-image: url("../img/header.png");
        background-size: cover;
        background-position: center;
    }

    .bienvenida-titulo{
        position: relative;
        z-index: 3;
        font-size: 36px;
        color: #03045E;
        padding: 60px;
}

.nosotros{
        font-family: Arial, Helvetica, sans-serif;
}

.div-nosotros{
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    padding: 60px;
    font-size: 16px;
    gap: 20px;
    }

    #img1{
        width: 600px;
    }

    .nosotros p{
        margin-top: 0.2cm;
}

.div-actividades{
        padding: 20px;
        font-size: 16px;
        text-align: center;
    }

    .div-actividades h1{
        padding: 20px;
    }

    .actividades{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, minmax(120px, 1fr));
        background-color: #90E0EF;
        border-radius: 30px;
    }

    .actividades img{
        height: 100px;
        border-radius: 30px;
    }

.buscar{
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.busqueda{
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;

    }
    .busqueda div{
        padding: 20px;
    }

    .busqueda div{
        background-color: #90E0EF;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
    }
    .busqueda h2{
        background-color: #0077B6;
        border-radius: 30px 30px 0 0;
    }
    .busqueda img{
        height: 250px;
        border-radius: 0 0 30px 30px;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}
.adoptar{
    padding: 10px;
}
.adoptar-head{
    background-image:linear-gradient(#0077B6,#ffffff46), url("https://estaticos-cdn.prensaiberica.es/clip/66e86d63-f5d3-4752-b019-29e28f5079a5_16-9-discover-aspect-ratio_default_0.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0px 1px 3px;
    color:#292929;
}

.cont-parrafos{
    padding: 10px;
    background-color: #ffffff67;
}

.cont-cartas-adopcion{
    display: grid;
    grid-template-columns: repeat(5,minmax(120px,1fr));
}

.carta-adopcion{
    padding: 10px;
    margin: 5px;
    background-color: #e0e0e0;
    border-radius: 3px;
    border: 1px solid #adadad;
    
}
.carta-adopcion a{
    color: rgb(255, 255, 255);
    background-color: #0077B6;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px #03045E;
    text-decoration: none;
    font-weight: bold;
    border: solid 1px #03045E;
}
.carta-adopcion a:hover{
    color: rgb(240, 240, 240);
    background-color: #008fdb;
}
.imagen-carta-adopcion{
    padding-top: 8px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255);

}
.imagen-carta-adopcion p{
    text-align: center;
}
.imagen-carta-adopcion img{
    width: 100%;
    
}

footer{
    background-color: #0077B6;
    padding: 50px;
    text-align: center;
}

.cont-form{
    padding: 10px;
    background-color: #bdbdbd;
    width: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

label{
    display: flex;
    flex-direction: column;
}

input[type = "text"],
input[type = "tel"],
input[type = "email"],
select{
    font-size: 23px;
    padding: 5px;
    border: 1px solid #a0a0a0;
    margin: 5px;
}

textarea{
    font-family: 20px;
    padding: 5px;
    resize: vertical;
    height: 300px;
}

input[type = "submit"]{
    margin: 5px;
    padding: 10px;
    background-color: #0077B6;
    border: 2px solid #034163 ;
    border-radius: 8px;
}